@import "sass/_variables";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-family: $default-font-family;
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

textarea {
	resize: none;
}
