@import "../../sass/variables";

.RecipeDetailsPanel {
  display: flex;
  flex-direction: column;
  width: 70%;

  h1 {
    font-family: $default-font-family;
    color: $color-primary;
    font-size: 36px;
  }
}