@import "../../../sass/variables";

.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1e1e1;
  background-color: white;
  position: relative;
}

.TransparentBackgroundWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.TransparentBackground {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(90, 92, 95, 0.3);
}
