@import "../../sass/_variables";

.Container {
  max-height: 100vh;
  background-color: $color-white;

  .Navbar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: $color-primary;
    box-shadow: $box-shadow-bottom;
    font-family: $default-font-family;
    font-size: $default-font-size;
  }

  .Row {
    display: flex;
    flex-direction: row;

    .Content {
      display: flex;
      flex-direction: row;
      margin-top: 2rem;
      min-height: 100vh;
      flex: 1 0;
    }
  }
}