@import "../../sass/_variables";

.Container {
  max-height: 100vh;
  background-color: $color-white;

  .Navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $color-primary;
    box-shadow: $box-shadow-bottom;
    font-family: $default-font-family;
    font-size: $default-font-size;
  }

  .Row {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-grey-light-3;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $color-grey-light-2;
    }

    .Content {
      display: flex;
      flex-direction: row;
      margin-top: 2rem;
      flex: 1 0;
    }
  }
}