@import "../../../sass/variables";

.DeleteButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: $default-font-size;
  font-weight: 600;
  color: $color-red;
  border: 1px solid $color-red;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: $color-red;
  }
}