@import "../../../sass/variables";

.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0 0.5rem 0 0.5rem;
  font-size: $default-font-size;
  font-weight: 600;
  color: $color-white;
  border: 1px solid transparent;
  background-color: $color-secondary;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $color-secondary;
    background-color: $color-white;
    border: 1px solid $color-secondary;
  }
}